@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat:wght@600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
  --font-serif: "Playfair Display", serif;

  --color-bg: #1c1b1b;
  --color-card: #242323;
  --color-text-primary: #EDEDED;
  --color-text-secondary: #bfbfbf;
  --color-border: #2e2e2e;

  --radius-xl: 12px;
}

@layer base {
  body {
    @apply bg-bg text-text-primary font-sans antialiased selection:bg-white selection:text-black;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display uppercase tracking-tight;
  }
}

/* Custom scrollbar for that premium feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full hover:bg-neutral-600 transition-colors;
}

/* Hide scrollbar for category swipe */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.child-iframe-full iframe {
  width: 100% !important;
  height: 100% !important;
}
